azure-ai-ml==1.28.1
azure-identity==1.24.0b1
azureml-inference-server-http==1.4.1
azureml-mlflow==1.60.0.post1
h2o==3.46.0.12
ipykernel==6.30.0
ipython==8.37.0
jupyterlab
matplotlib==3.10.3
mlflow==2.22.1
mltable==1.6.1
numpy==2.3.1
pandas==2.3.1
pyarrow==19.0.1
python-dotenv==1.1.1
requests==2.32.4
scikit-learn==1.7.1
scipy==1.16.0
setuptools==75.8.0
tqdm==4.67.1